{% extends 'layouts/base.html' %}

{% block title %}Main{% endblock title %}

{% block content %}

<!-- ========================================== -->
<div class="jumbotron" id="logo">
    <div class="container">
      <h1 class="display-3">Check out these Stats!</h1>
      <p>This is an informational website. It includes large datasets from governmental and other official sources. Use it as a starting point to create new more unique research if you wish, or simply read it and share with other curious minds.</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'stats/index' %}" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Geography</h2>
            <p>Analysing and presenting data that has a geographic or areal dimension, such as census or demographics data. </p>
            <p><a class="btn btn-secondary" href="{% url 'stats/index' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Economics</h2>
            <p>Analyses within economic statistics both make use of and provide the empirical data needed in economic research, whether descriptive or econometric.</p>
            <p><a class="btn btn-secondary" href="{% url 'stats/index' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Health Care</h2>
            <p>Health statistics provide empirical data to assist in the allocation of public and private funds and help to determine how research efforts should be focused.</p>
            <p><a class="btn btn-secondary" href="{% url 'stats/index' %}" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

  </div>
<!-- ========================================== -->

{% endblock content%}